git+https://github.com/mit-nlp/MITIE.git

attrs==18.2.0
Automat==0.7.0
boto3==1.9.16
botocore==1.12.16
certifi==2018.8.24
chardet==3.0.4
cloudpickle==0.5.6
coloredlogs==10.0
constantly==15.1.0
cycler==0.10.0
docutils==0.14
future==0.16.0
gevent==1.3.6
greenlet==0.4.15
humanfriendly==4.16.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
jieba==0.39
jmespath==0.9.3
jsonschema==2.6.0
kiwisolver==1.0.1
klein==17.10.0
matplotlib==2.2.3
numpy==1.15.2
packaging==18.0
pathlib==1.0.1
PyHamcrest==1.9.0
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
rasa-nlu==0.13.5
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
tqdm==4.26.0
Twisted==18.7.0
typing==3.6.6
urllib3==1.23
Werkzeug==0.14.1
zope.interface==4.5.0
